.movieRecommendation {
	display: flex;
	justify-content: space-between;
}

.movieRecommendation > * {
	flex: 1 0 40%;
}

.moviePoster {
	margin-right: 30px;
}

.genreList {
	margin-left: 50px;
	list-style: disc;
}

.buttonBox {
	display: flex;
	justify-content: center;
}
