.recipeImage {
	margin-right: 40px;
}

.recipeContainer {
	display: flex;
	justify-content: space-between;
	& > * {
		flex: 1 0 40%;
	}
}

.ingredientsContainer {
	display: flex;
	flex-direction: column;
	p:first-child {
		margin-top: 0;
		padding-top: 0;
	}
}

.descriptionClosed {
	overflow: hidden;
	height: 245px;
}

.closedIcon {
	display: none;
}

.svgIcon {
	filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(194deg) brightness(105%) contrast(105%);
	width: 100%;
}

.expandButton {
	border: none;
	background: $background-color;
	width: 40px;
	padding: 0;
	margin: 15px 0px;
	border-radius: 100%;
	align-self: center;
	&:hover {
		background: $background-color;
		.svgIcon {
			filter: invert(77%) sepia(49%) saturate(388%) hue-rotate(5deg) brightness(100%) contrast(100%);
		}
	}
}

@media (max-width: 600px) {
	.recipeContainer {
		flex-direction: column;
	}
	.recipeImage {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}
