.recommendation-container {
	display: flex;
	justify-content: space-around;
	margin: 20px 0px;
}

.recommendation-container > * {
	max-width: 48%;
	padding: 30px 10px;
	flex: 1 0 auto;
	background: linear-gradient(45deg, $background-color, darken($background-color, 20));
	box-shadow: 0px 10px 15px darken($background-color, 20);
	border-radius: 10px;
}

.movie-recommendation {
	display: flex;
	align-items: center;
	background: darken($background-color, 20);
	margin: 20px 10px;
	// padding: 10px;
	background: linear-gradient(45deg, $background-color, darken($background-color, 20));
	box-shadow: 0px 10px 15px darken($background-color, 20);
	border-radius: 10px;
}
.movie-recommendation > * {
	padding: 20px;
	flex: 1 0 40%;
}
