.recommendation-container {
	display: flex;
}

.recommendation-container > * {
	width: 50%;
	padding: 10px;
	flex: 1 0 auto;
}

.movie-recommendation {
	display: flex;
	align-items: center;
}
.movie-recommendation > * {
	padding: 20px;
	flex: 1 0 40%;
}
