a:hover {
	color: $text-color;
}

.resultsNav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultsLink {
	position: relative;
	&::after {
		position: absolute;
		top: 10px;
		right: -35%;
		width: 2px;
		height: 25px;
		background: white;
		content: '';
	}
}

.subNav {
	display: flex;
	width: 60%;
	justify-content: space-between;
	margin: 20px auto;
	& > * {
		border-bottom: 2px solid $accent-color-yellow;
		&:hover {
			border-bottom: 2px solid $text-color;
		}
	}
}

@media (max-width: 750px) {
	.subNav {
		width: 80%;
	}
	.resultsLink::after {
		right: -60%;
	}
}

@media (max-width: 500px) {
	.subNav {
		width: 100%;
	}
	.resultsLink::after {
		right: -40%;
	}
}
