a:hover {
	color: $text-color;
}

.resultsNav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subNav {
	display: flex;
	width: 60%;
	justify-content: space-between;
	margin: 20px auto;
	& > * {
		border-bottom: 2px solid $accent-color-yellow;
		&:hover {
			border-bottom: 2px solid $text-color;
		}
	}
}
