// font-family: 'Bungee Shade', cursive;
// font-family: 'Roboto', sans-serif;

html {
	font-size: 62.5%;
}

body {
	font-family: $primary-font;
	font-size: 2rem;
	color: $text-color;
	line-height: 1.8;
}

h1 {
	font-family: $heading-font;
	font-size: 10rem;
	color: $accent-color-yellow;
	line-height: 1.2;
	margin-bottom: 3rem;
}

.specialWord {
	color: $accent-color-yellow;
}

a {
	color: $accent-color-yellow;
	text-decoration: none;
	font-style: italic;
}
