// font-family: 'Bungee Shade', cursive;
// font-family: 'Roboto', sans-serif;

$heading-font: 'Bungee Shade', cursive;
$primary-font: 'Roboto', sans-serif;

html {
	font-size: 62.5%;
}

body {
	font-family: $primary-font;
	font-size: 2rem;
}

h1 {
	font-family: $heading-font;
	font-size: 6rem;
}

.specialWord {
	font-family: $heading-font;
}
