@import './styles/normalize';
@import './styles//variables';
@import './styles/typography';
@import './styles/header';
@import './styles/recommendation';
@import './styles/footer';
@import './styles/results';
@import './styles/form';
@import './styles/movie';
@import './styles/recipe';

body {
	background-color: $background-color;
}

.wrapper {
	margin: 0 auto;
	max-width: 800px;
	padding: 0px 15px;
}

img {
	max-width: 100%;
	display: block;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background-color: $background-color;
	color: $accent-color-yellow;
	display: inline-block;
	border: 2px solid $accent-color-yellow;
	padding: 10px 20px;
	font-weight: bold;
	margin-top: 10px;
	&:hover {
		background: $accent-color-yellow;
		color: $background-color;
	}
}
